.postbox .inside .carbon-calculator{ font-size: 13px }
.carbon-calculator--red .carbon-calculator-progress{ background: #d75b5c }
.carbon-calculator--orange .carbon-calculator-progress{ background: #f19c65 }
.carbon-calculator--green .carbon-calculator-progress{ background: #5fc17d }
.carbon-calculator--grey .carbon-calculator-display{ display: none }

.carbon-calculator+.carbon-calculator{
    margin-top: 20px; border-top: 1px solid #ddd; padding-top: 20px;
}
.carbon-calculator label{ font-weight: 500; color: #1d2327 }
.carbon-calculator label a{ text-decoration: none; color: inherit }
.carbon-calculator-display{ font-weight: 500 }
.carbon-calculator-progressbar{ height: 5px; border-radius: 10px; background: #eee; position: relative; margin-top: 20px; margin-bottom: 10px }
.carbon-calculators .carbon-calculator{ width: 80% }
.carbon-calculators .carbon-calculator-progressbar{ background: #fff; margin-top: 10px }
#edittag .carbon-calculator-progressbar{ background: #fff; margin-top: 10px }
.carbon-calculator-progress{ height: 100%; border-radius: 10px; max-width: 100%; transition: 0.3s }
.carbon-calculator-progressinfo{ position: absolute; right: 0; bottom: 100%; font-size: 12px; opacity: 0.7 }
.carbon-calculate span{ pointer-events: none }
.carbon-calculate{ cursor: pointer; text-decoration: underline }
.carbon-calculate.is-loading{ cursor: wait; pointer-events: none }
.carbon-calculate.is-loading span{ display: none }
.carbon-calculate.is-loading:after{
    content: ""; width: 30px; height: 8px; margin-left: 10px; display: inline-block;
    background: url("loader.svg") no-repeat center; background-size: contain
}
.carbon-calculator-tools td{ padding-top: 40px }
.carbon-calculator-tools label b{ font-size: 110% }
#side-sortables .carbon-calculate.is-loading:after{
    margin-left: 0; background-image: url("loader-white.svg")
}
.carbon-calculator-statistics li{ margin-bottom: 12px }
.carbon-calculator-statistics a{ color: inherit; text-decoration: none }
.carbon-calculator-tools .dashicons-before:before{ vertical-align: middle }
.carbon-calculator-statistics a:hover, .carbon-calculator-statistics .carbon-calculator-complete,
.carbon-calculator-statistics .carbon-calculator-reset{ color: #2271b1; text-decoration: underline }


#edittag .carbon-calculate{ float: right }
#edittag .carbon-calculator{ margin-top: 1em }
.carbon-calculator-details{ max-width: 480px; display: none }
#side-sortables .carbon-calculator-details{ max-width: none; clear: both }
.carbon-calculator-display{ cursor: pointer }
.carbon-calculator-display:after{ content: "\f140"; display: inline-block; font: normal 20px/1 dashicons; vertical-align: middle }
.carbon-calculator-display.is-active:after{ content: "\f142" }
.carbon-calculator-details span span{ flex-basis: 50%; padding: 4px 0; box-sizing: border-box }
#side-sortables .carbon-calculator-title{ padding-top: 5px; display: inline-block; margin-bottom: 10px }
#side-sortables .carbon-calculator-details span span{ flex-basis: 100% }
#side-sortables .carbon-calculate{
    float: right; height: 18px;
}
#side-sortables .carbon-calculator--grey .carbon-calculate{
    background: none; text-decoration: underline;
    color:#2271b1; padding: 0; float: none;
}
.carbon-calculate{ text-decoration: none }
.carbon-calculate.is-busy span{ display: none }
.carbon-calculate span+span{ display: none }
.carbon-calculate.is-busy span+span{ display: inline }

.misc-pub-carbon-calculator .carbon-calculator-details span span{ flex-basis: 100% }
.carbon-calculator-details > span{
    display: flex; flex-wrap: wrap; margin-top: 5px; background: #fff; border-radius: 4px; padding: 8px 12px;
    font-family: monospace; font-size: 12px;
}
#side-sortables .carbon-calculator-details > span{
    background: #f0f0f0; width: 100%; margin-top: 0; box-sizing: border-box;
}
.misc-pub-carbon-calculator .carbon-calculator-details > span{
    background: none; box-shadow: none; padding: 0;
}

.wcc-badge{ width: 14px; height: 14px; background: #eee; display: inline-block; border-radius: 50%; outline: 1px solid #eee; border: 1px solid #ffffff }
.wcc-badge--red{ background: #d75b5c; outline-color: #d75b5c }
.wcc-badge--orange{ background: #f19c65; outline-color: #f19c65 }
.wcc-badge--green{ background: #5fc17d; outline-color: #5fc17d }
.wcc-badge--grey{ background: #eee; outline-color: #eee }

th#wcc, td.wcc.column-wcc{ width: 1%; white-space: nowrap; text-align: center }
.wcc-icon{ color: #666; margin-left: 2px }